<footer>
    <p>&copy; <span id="year"></span> CSE Motors. All rights reserved.</p>
    <p>Last Modified: <span id="lastModified"></span></p>
    <p><a href="/error/trigger-error">Test Error Handling</a></p>

    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
        document.getElementById("lastModified").textContent = document.lastModified;
    </script>
</footer>
  