<section class="hero">
    <div class="hero-text">
        <h1><a href="#" class="blue-link">DMC Delorean</a></h1>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button class="btn-primary">Own Today</button>
    </div>
    <div class="hero-image">
        <img src="/images/upgrades/delorean.jpg" alt="DMC Delorean" />
    </div>
</section>

<section class="content-columns">
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <ul>
            <li><a href="#"><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" /><br />Flux Capacitor</a>
            </li>
            <li><a href="#"><img src="/images/upgrades/flame.jpg" alt="Flame Decals" /><br />Flame Decals</a></li>
            <li><a href="#"><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" /><br />Bumper
                    Stickers</a></li>
            <li><a href="#"><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" /><br />Hub Caps</a></li>
        </ul>
    </div>

    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</section>