<%# Vehicle Detail View for CSE Motors %>
<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <h1>Vehicle Details</h1>
<% } %>

<% if (locals.messages) { %>
    <div class="notice">
        <%= messages %>
    </div>
<% } %>

<%- detailView %>
